@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* 先套用 Noto Sans TC 這個 思源黑體 */
  font-family: "Baloo Tamma 2";
}

.font-primary {
  color: #636057;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.navbar-brand {
  width: 111px;
}
.navbar-login-btn {
  width: 96px;
  background: #FFDF65 !important;
}

.product {
  background: #F8F9FA;
}
.product-name {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 1.46875;
  font-weight: bold;
  color: rgb(73, 72, 70);
}
.product-tag {
  background: #858377;
  border-radius: 4px;
  color: white;
  font-size: 0.75rem;
  line-height: 1, 5;
}

.sponsor-target {
  font-size: 0.875rem;
}
.sponsor-finished {
  font-size: 2rem;
  line-height: 1.75;
  font-weight: bold;
  color: #494846;
}
.sponsor-count-header {
  font-size: 0.875rem;
  color: #636057;
  line-height: 1.428;
}
.sponsor-counter {
  font-size: 2rem;
  line-height: 1.75;
  font-weight: bold;
}
.sponsor-logo {
  width: 24px;
}
.sponsor-reminder {
  font-size: 1rem;
  line-height: 1.5;
  background: white;
  color: #636057;
  font-weight: bold;
}
.sponsor-btn {
  background: #FFDF65;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: bold;
  color: #636057;
  padding-top: 12px;
  padding-bottom: 12px;
}
.sponsor-follow, .sponsor-share {
  color: #858377;
  border: 2px solid #858377;
  font-size: 1.25rem;
}
.sponsor-follow i, .sponsor-share i {
  line-height: 1.45;
}

.project-title {
  font-size: 1.5rem;
  color: #494846;
  letter-spacing: 1.92px;
  font-weight: bold;
  line-height: 1.5;
}
.project-description {
  font-size: 1rem;
  color: #494846;
  text-align: justify;
  line-height: 2;
  font-weight: 600;
}

.form-header::before {
  content: "";
  display: block;
  width: 40%;
  height: 5px;
  background: #FFDF65;
  left: 0;
  top: 50%;
  position: absolute;
}
.form-header::after {
  content: "";
  display: block;
  width: 40%;
  height: 5px;
  background: #FFDF65;
  right: 0;
  top: 50%;
  position: absolute;
}
.form-control {
  background: #F7F7F7;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-color: none;
}
.form-control:focus, .form-control:active {
  background: #F7F7F7;
  border: 0;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-placeholder {
  color: #999999;
}
.form-submit {
  background: #FFDF65;
  color: #494846;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.45;
}

.company-detail h3 {
  font-size: 1.25rem;
  color: #494846;
  font-weight: bold;
}
.company-slogan {
  font-size: 1rem;
  color: #373A3C;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5;
}
.company-contact-us {
  color: #858377;
  border: 2px solid #858377;
  font-size: 0.75rem;
  line-height: 1.13;
}
.company-social i {
  font-size: 30px;
  color: #858377;
}

.plan-header {
  font-size: 1.25rem;
  line-height: 1.81;
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.5;
}
.card-price {
  font-size: 1.5rem;
  line-height: 1.7;
}
.card-quantity {
  background-color: #858377;
  color: white;
  display: inline-block;
}
.card-count-sponsor {
  background-color: #E8E8DB;
  color: #858377;
  display: inline-block;
}
.card-text {
  font-size: 1rem;
  color: #858377;
  line-height: 1.5;
}

.nav-pills .nav-link {
  color: #636057;
  border-radius: 0;
}
.nav-pills .nav-link.active {
  color: #636057;
  background-color: transparent;
  border-bottom: 2px solid #FFDF65;
}

.card-title {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  line-height: 1.4;
}

.card-button {
  color: #FF785E;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  background: #494846;
  color: white;
}
footer p {
  font-size: 1rem;
  line-height: 1.5;
}/*# sourceMappingURL=all.css.map */