@import "reset";
@import "variable";
@import "mixin";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* 先套用 Noto Sans TC 這個 思源黑體 */
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}


.container {
    max-width: 1085px;
    margin: 0 auto;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}
